{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row"> 
    <div class="col-md-2">
      <aside class="filters">
        <div class="panel panel-default">
          <div class="panel-heading">Filter Search</div>
          <div class="panel-body">
            <form>
              <div class="form-group">
                <ul class="list-group" id="filters">
                  <li class="filter list-group-item">
                    <label>choose your city</label>
                    <select class="form-control" id="searchby" onchange= "getData(this.value)"  > 
                      <option value="" selected disabled>Select City</option>
                      <option value="Austin">Austin</option>
                      <option value="Dallas">Dallas</option>
                      <option value="Houston">Houston</option>
                    </select>
                  </li>
                  <li class="filter list-group-item">
                      <label>Housing Type</label>
                      <select class="form-control" id="housesearch" onchange= "optionchenged(this.value)"  > 
                          <option value="" selected disabled>Buy or Rent</option>
                          <option value="Buy">Buy</option>
                          <option value="Rent">Rent</option>
                        </select>
                        <label for="price">Enter max price</label>
                        <input class="form-control" id="price" type="text" placeholder="$">
                        <br>
                        <li class="filter list-group-item">
                          <label>Choose your School</label>
                          <select class="form-control" id="schoolby" onchange= "getschoolData(this.value)"  > 
                            <option value="" selected disabled>Select School</option>
                            <option value="Middle">Middle School</option>
                            <option value="Elementary">Elementary School </option>
                            <option value="High">High School</option>
                          </select>
                        </li>  
                  </li>
                </ul>
              </div>
              <button id="filter" type="button" class="btn btn-default" >Submit </button><br/>
            </form>
          </div>
        </div>
      </aside>
    </div>
    <div class="col-md-10">
      <div id="map">
      </div>         
    </div>
  </div>
</div>
{% endblock %}